<h1>La liste de course !</h1>

<a [routerLink]="['/add']">Ajouter une course !</a>

<div *ngIf="listeCourse.length == 0" style="color: red">
  La liste de course est vide.
</div>

<table *ngIf="listeCourse.length != 0">
  <thead>
    <th>Id</th>
    <th>Label</th>
  <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let element of listeCourse">
      <td>
        {{ element.id }}
      </td>
      <td>
        {{ element.label }}
      </td>
      <td>
        <a [routerLink]="['',element.id]">Voir en détail</a> <br>
        <a *ngIf="element.id" (click)="deleteArticle(element.id)">Supprimer cet article</a> <br>
        <a [routerLink]="['/edit', element.id]">Editer</a>
      </td>
    </tr>
  </tbody>
</table>
