<div *ngIf="articleEditForm">
  <h1>Formulaire d'édition de la course {{ articleEditForm.label }}</h1>

  <form #formValidation="ngForm" (ngSubmit)="submitEditForm()">
    <label for="label">Element</label>
    <input type="text" name="label" id="label" #labelInput="ngModel" [(ngModel)]="articleEditForm.label">
    <div *ngIf="!labelInput.valid">La saisie du label n'est pas valide</div>
    <input [disabled]="!formValidation.valid" type="submit">
  </form>

</div>
