<h1>Ajouter une course</h1>
<a [routerLink]="['/']">Retour !</a>

<form #validationSaisieFormulaire="ngForm" (ngSubmit)="submitForm()">

  <label for="label">Element à ajouter au pannier</label>
  <input type="text"
         required
         #inputLabel="ngModel"
         name="label" id="label" [(ngModel)]="courseForm.label">
  <div *ngIf="!inputLabel.valid">
    Le champ label n'est pas valide
  </div>
  <input [disabled]="!validationSaisieFormulaire.valid" type="submit">

  <div *ngIf="!validationSaisieFormulaire.valid">
    Le form n'est pas encore valide
  </div>

</form>
